*{
    margin: 0px;
    padding: 0px;
}


.container
{
    width: 1440px;
    margin: 0px auto;
}

form > button
{   
    width:200px; 
    padding: 5px 20px;
    margin: 0 auto;
}

#register, #login
{
    width: 400px;
}

#deckSide
{
    width: 980px;

}
#searchSide
{
    width: 460px;
 
}
.card
{
    width: 86px;
    height: 123px;
}


#mainDeck
{
    width: 900px;
    min-height:500px;
}
#extraDeck
{
    width: 900px;
    min-height:250px;

}

#searchOutput
{
    max-height: 670px;
}


.quarter
{
    width:280px;
}
.half
{
    width: 420px;
}
.bigCard
{
    width:258px;
    height:369px;
}

.about
{
    width:450px;
    
}